# Base.
ENCRYPTION_KEY=""
HOSTNAME="0.0.0.0"
LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=true
LANGFUSE_INIT_ORG_ID="cb711778-d055-44d8-bded-a0c8737f759e"
LANGFUSE_INIT_ORG_NAME=""
LANGFUSE_INIT_PROJECT_ID="4c54d848-26d6-4b15-815f-8f5d579d8b61"
LANGFUSE_INIT_PROJECT_NAME=""
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=""
LANGFUSE_INIT_PROJECT_SECRET_KEY=""
LANGFUSE_INIT_USER_EMAIL=""
LANGFUSE_INIT_USER_NAME=""
LANGFUSE_INIT_USER_PASSWORD=""
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""
SALT=""
TELEMETRY_ENABLED=true

# ClickHouse.
CLICKHOUSE_CLUSTER_ENABLED=false
CLICKHOUSE_MIGRATION_URL=""
CLICKHOUSE_PASSWORD=""
CLICKHOUSE_URL=""
CLICKHOUSE_USER=""

# MinIO.
LANGFUSE_S3_BATCH_EXPORT_ENABLED=false
LANGFUSE_S3_BATCH_EXPORT_BUCKET="langfuse"
LANGFUSE_S3_BATCH_EXPORT_PREFIX="exports/"
LANGFUSE_S3_BATCH_EXPORT_REGION="auto"
LANGFUSE_S3_BATCH_EXPORT_ENDPOINT=""
LANGFUSE_S3_BATCH_EXPORT_EXTERNAL_ENDPOINT=""
LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID=""
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY=""
LANGFUSE_S3_BATCH_EXPORT_FORCE_PATH_STYLE=true

LANGFUSE_S3_EVENT_UPLOAD_BUCKET=langfuse
LANGFUSE_S3_EVENT_UPLOAD_REGION="auto"
LANGFUSE_S3_EVENT_UPLOAD_ACCESS_KEY_ID=""
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=""
LANGFUSE_S3_EVENT_UPLOAD_ENDPOINT=""
LANGFUSE_S3_EVENT_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_EVENT_UPLOAD_PREFIX="events/"

LANGFUSE_S3_MEDIA_UPLOAD_BUCKET="langfuse"
LANGFUSE_S3_MEDIA_UPLOAD_REGION="auto"
LANGFUSE_S3_MEDIA_UPLOAD_ACCESS_KEY_ID=""
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=""
LANGFUSE_S3_MEDIA_UPLOAD_ENDPOINT=""
LANGFUSE_S3_MEDIA_UPLOAD_FORCE_PATH_STYLE=true
LANGFUSE_S3_MEDIA_UPLOAD_PREFIX="media/"

# Postgres.
DATABASE_URL=""

# Redis.
REDIS_CONNECTION_STRING=""
