# List of all available environment variables for osixia/openldap.
# https://github.com/osixia/container-openldap#environment-variables

LDAP_ORGANISATION="OpenLDAP"
LDAP_DOMAIN="openldap.org"
LDAP_ADMIN_PASSWORD=""
